{{{ _editable }}}
<div class="hero">
  <h1>{{ title }} 1 2 3 4</h1>
  <p>{{ copy }}</p>
  <p>{{ cta }}</p>
  {{#if image }}
    <img src={{ image }} alt="{{ title }}" />
  {{else}}
    <p>no image provided</p>
  {{/if}}
</div>