{{{ _editable }}}
<a href="{{#ifEquals name "home"}}/{{else}}{{ url anchor }}{{/ifEquals}}" class="{{#ifEquals story.content.page_name name}}active{{else}}not-active{{/ifEquals}}" title="{{ title }}">
    {{ name }}
    <span>{{ subtext }}</span>
</a>
