 <!-- the default component we create and where you can add new components on the fly is called "root" by default - this also will be rendered first after the layout: index.js line 32 (http://a.storyblok.com/f/40206/x/8e9c92a64b/unbenannt.png)-->
 {{{ story.content._editable }}}
<div class="root">
  {{#if story.content.mainnav_displayed }}
    <header class="meganav">
      <div class="meganav-strip">
        <a class="navicon-button toggle-meganav-overlay">
          <div class="navicon"></div>
        </a>
        {{#if story.content.is_home }}
          <h5 class="page-title {{ story.content.header_strip_theme }}">menu</h5>
        {{else}}
          <h5 class="page-title {{ story.content.header_strip_theme }}">{{ story.content.page_name }} <span>({{ story.content.subtext }})</span></h5>
        {{/if}}
      </div>
      <div class="meganav-overlay">
        <div class="outer-close toggle-meganav-overlay">
          <a class="close"><span></span></a>
        </div>
        {{#if story.content.is_home }}
          <h5 class="page-title light">menu</h5>
        {{else}}
          <h5 class="page-title light">{{ story.content.page_name }} <span>({{ story.content.subtext }})</span></h5>
        {{/if}}
        <nav>
          {{#each meganav.body}}
            <div>{{> (lookup . 'component') }}</div>
          {{/each}}
        </nav>
      </div>
    </header>
  {{/if}}

  <div class="page">
    {{#each story.content.body}}
      {{> (lookup . 'component') }}
    {{/each}}
  </div>

  <div class="megafooter container">
    {{#if megafooter.content.body.socialinks}}
      <div class="sociallinks">
        {{#each megafooter.sociallinks.social_link}}
          {{> (lookup . 'component') }}
        {{/each}}
      </div>
    {{else}}
      <p>there are no social links</p>
    {{/if}}
  </div>

</div>  
